<header class="main-header">
  <aside class="logo">
    <img src="../../assets/images/logo.jpg" alt="" />
    <div class="logo-content">
      <h6><span class="logo-head">REVO . </span>HOME</h6>
      <p>REAL ESTATE WILL NEVER BE THE SAME</p>
    </div>
  </aside>
  <aside class="heading-2">
    <ul class="contents">
      <li class="lists">
        <a href="#"><strong>Home</strong> </a>
      </li>
      <li class="lists">
        <select name="" id="" class="catgs">
          <option value="">Category</option>
        </select>
      </li>
      <li class="lists"><a href="#">REVO Builders</a></li>
      <li class="lists">
        <a href="#">List Property</a>
        <a href="#" class="list-free">Free</a>
      </li>
      <li class="lists"><a href="#">Sign Up</a></li>
      <li class="lists ac">
        <i class="fa-solid fa-user"></i>
        <select name="" id="" class="actns">
          <option value="">My Account</option>
        </select>
      </li>
    </ul>
  </aside>
</header>
