<header class="main-header">
  <aside class="logo">
    <img src="../../assets/images/logo.jpg" alt="" />
    <div class="logo-content">
      <h3><span class="logo-head">REVO.</span>HOME</h3>
      <p>REAL ESTATE WILL NEVER BE THE SAME</p>
    </div>
  </aside>
  <aside class="heading-2">
    <ul class="contents">
      <li class="lists">
        <a href="#"><strong>Home</strong> </a>
      </li>
      <li class="lists">
        <select name="" id="" class="catgs">
          <option value="">Category</option>
        </select>
      </li>
      <li class="lists"><a href="#">REVO Builders</a></li>
      <li class="lists"><a href="#">List Property</a></li>
      <li class="lists"><a href="#">Sign Up</a></li>
      <li class="lists ac">
        <span class="material-icons-round"> person_outline </span>
        <select name="" id="" class="actns">
          <option value="">My Account</option>
        </select>
      </li>
    </ul>
  </aside>
</header>
