<main class="footers">
    <footer class="footer-1">
        <section class="footer-contents">
            <aside class="head">
                <h1>All In One In <span>revo</span></h1>
            </aside>
            <aside class="content">
                <p>Download the app for free</p>
                <span class="download-btns">
                    <span class="iphone">
                        <i class="fa-brands fa-apple"></i>
                        <aside class="icon-contents">
                            <p class="dnld">Download on the</p>
                            <p class="store">App store</p>
                        </aside>
                    </span>
                    <span class="android">
                        <i class="fa-brands fa-google-play"></i>
                        <aside class="icon-contents">
                            <p class="dnld">Download on the</p>
                            <p class="store">App store</p>
                        </aside>
                    </span>
                </span>
            </aside>
        </section>
    </footer>
    <footer class="footer-2"></footer>
    <footer class="footer-3"></footer>
</main>
