@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/typography";

.footers {
  .footer-1 {
    background-image: url(../../assets/images/Footer.jpg);
    height: 34rem;
    background-size: cover;
    @include d-flex(center, center);
    .footer-contents {
      @include flex-fd-column;
      align-items: flex-start;
      width: 80%;
      gap: 2rem;
      .head {
        h1 {
          font-size: $font-size-75;
          color: $white;
          span {
            color: $footerblack;
          }
        }
      }
      .content {
        @include flex-fd-column;
        align-items: center;
        width: 28.4rem;
        p {
          font-weight: $font-weight-300;
          font-size: $font-size-16;
          color: $white;
        }

        .download-btns {
          display: flex;
          gap: 2rem;

          .iphone,
          .android {
            @include d-flex(space-evenly, center);
            @include measure(13.2rem, 4.5rem);
            box-shadow: 0.3rem 0.3rem 0.8rem #0000005e;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.778);
            cursor: pointer;
          }
          .iphone i {
            font-size: $font-size-28;
            color: $white;
          }
          .android img {
            @include measure(2.5rem, 2.5rem);
          }
          .iphone .icon-contents,
          .android .icon-contents {
            @include flex-fd-column;
            justify-content: space-evenly;
            gap: 0.5rem;
            color: $white;
            p {
              margin: 0;
            }
            .dnld {
              font-size: $font-size-7;
            }
            .store {
              font-size: $font-size-11;
            }
          }
        }
      }
    }
  }

  .footer-2 {
    background-color: #001b49;

    .container {
      padding: 5rem 0 5rem 0;
      .footer-contents {
        @include d-flex-h-center(space-evenly);

        ul {
          list-style-type: none;
          .list-head {
            p {
              font-weight: $font-weight-300;
              font-size: $font-size-18;
              color: rgba(255, 255, 255, 0.763);
            }
          }
          li {
            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.45);
              font-weight: $font-weight-200;
              font-size: $font-size-13;
              line-height: 3rem;
            }
          }
        }
      }
    }
  }

  .footer-3 {
    .social {
      @include d-flex-h-center(center);
      gap: 3rem;
      padding: 2rem 0 1rem 0;
      span {
        i {
          font-size: $font-size-24;
        }
      }
    }
    .copywrite {
      @include d-flex-h-center(center);
      p {
        font-size: $font-size-14;
        padding-bottom: 5rem;
        a {
          color: black;
        }
      }
    }
  }
}
