<main class="footers">
  <footer class="footer-1">
    <section class="footer-contents">
      <aside class="head">
        <h1>All In One In <span>revo</span></h1>
      </aside>
      <aside class="content">
        <p>Download the app for free</p>
        <span class="download-btns">
          <span class="iphone">
            <i class="fa-brands fa-apple"></i>
            <aside class="icon-contents">
              <p class="dnld">Download on the</p>
              <p class="store">App store</p>
            </aside>
          </span>
          <span class="android">
            <img src="../../assets/images/playstore.png" alt="">
            <aside class="icon-contents">
              <p class="dnld">Download on the</p>
              <p class="store">App store</p>
            </aside>
          </span>
        </span>
      </aside>
    </section>
  </footer>
  <footer class="footer-2">
    <section class="container">
      <aside class="footer-contents">
        <ul class="list-1">
          <li class="list-head"><p>We are in</p></li>
          <li><a href="#">USA</a></li>
          <li><a href="#">China</a></li>
          <li><a href="#">India</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">Japan</a></li>
        </ul>
        <ul class="list-2">
          <li class="list-head"><p>Our Services</p></li>
          <li><a href="#">Property Listing</a></li>
          <li><a href="#">Property Management</a></li>
          <li><a href="#">Loan Services</a></li>
        </ul>
        <ul class="list-3">
          <li class="list-head"><p>With us</p></li>
          <li><a href="#">Seller</a></li>
          <li><a href="#">Builders</a></li>
          <li><a href="#">Buyers</a></li>
          <li><a href="#">Bank Agent</a></li>
          <li><a href="#">Transaction Manager</a></li>
          <li><a href="#">Driver</a></li>
        </ul>
        <ul class="list-4">
          <li class="list-head"><p>Quick Links</p></li>
          <li><a href="#">Properties</a></li>
          <li><a href="#">Builders</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">Builders</a></li>
        </ul>
        <ul class="list-5">
          <li class="list-head"><p>Help</p></li>
          <li><a href="#">FAQ Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Editorial Policy</a></li>
          <li><a href="#">Referral Policy</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </aside>
    </section>
  </footer>
  <footer class="footer-3">
    <aside class="social">
      <span>
        <i class="fab fa-facebook-f"></i>
      </span>
      <span>
        <i class="fab fa-instagram"></i>
      </span>
      <span>
        <i class="fab fa-youtube"></i>
      </span>
    </aside>
    <aside class="copywrite">
      <p>
        &#169;2022 REVO Home .All rights <a href="">Terms</a> |
        <a href="">Privacy</a>
      </p>
    </aside>
  </footer>
</main>
