<main class="cards-main">
  <section class="categories">
    <span class="cards">
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Pay Rent</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Rent Agreement</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Home Loans</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Home Interiors</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Solar Rooftop</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Premium Apartment</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Packers & Movers</p>
        </span>
      </aside>
      <aside class="card">
        <span class="icon">
          <span class="circle">
            <span class="circle-1"></span>
            <span class="circle-2"></span>
          </span>
        </span>
        <span class="typeof">
          <p>Property Management</p>
        </span>
      </aside>
    </span>
  </section>
  <section class="dealing">
    <span class="cards">
      <span class="card">
        <img src="../../assets/images/buy.jpg" alt="" />
        <h1 class="title">BUY PROPERTY</h1>
        <p>
          Find your place with an immersive photo experience and the most
          listings, including things you won't find anywhere else.
        </p>
        <button class="more">Browse</button>
      </span>
      <span class="card">
        <img src="../../assets/images/buy.jpg" alt="" />
        <h1 class="title">SELL PROPERTY</h1>
        <p>
          No matter what path you take to sell your home, we can help you
          navigate a successful sale.
        </p>
        <button class="more">Start Now</button>
      </span>
      <span class="card">
        <img src="../../assets/images/rent.jpg" alt="" />
        <h1 class="title">RENT PROPERTY</h1>
        <p>
          Find your place with an immersive photo experience and the most
          listings, including things you won't find anywhere else.
        </p>
        <button class="more">Find Rentals</button>
      </span>
    </span>
  </section>
</main>
