@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/typography";

.cards-main {
  background-color: $cardsbg;
  .categories {
    @include space(7rem 5rem,0);
    .cards {
      @include d-flex-h-center(center);
      gap: 4rem;
      .card {
        @include flex-fd-column;
        align-items: center;
        .icon {
          box-shadow: 0px 3px 16px #00000029;
          @include border(0.1rem solid $cardbrdr, 0.9rem);
          @include space(4.2rem 2.6rem, null);
          .circle {
            background-color: $circle;
            @include space(1.6rem 2.2rem,0);
            border-radius: 50%;
            position: relative;
            .circle-1 {
              position: absolute;
              background-color: $circle;
              @include space(1.2rem 1.2rem,0);
              border-radius: 50%;
              @include position(-0.5rem, -0.5rem, null, null);
            }
            .circle-2 {
              position: absolute;
              background-color: $circle;
              @include space(0.6rem 0.6rem,0);
              border-radius: 50%;
              @include position(null, null, 0, 0);
            }
          }
        }
        .typeof {
          @include measure(8rem, 0);
          text-align: center;
          p {
            font-size: $font-size-13;
            color: $text1;
          }
        }
      }
    }
  }
  
  .dealing {
    @include space(5rem 0 10rem 0,0);
    .cards {
        @include d-flex(center,center);
        gap: 2rem;
      .card {
        background-color: $white;
        box-shadow: 0px 3px 16px #00000029;
        @include border(0.1rem solid $cardbrdr,0.9rem);
        @include flex-fd-column;
        align-items: center;
        gap: 1rem;
        @include space(4.5rem 1.5rem,0);
        width: 34rem;
        img {
          @include measure(19.2rem,11.8rem);
        }
        h1{
            font-size: $font-size-18;
        }
        p{
            font-size: $font-size-13;
            text-align: center;
            width:31rem;
            line-height: 3rem;
            color: #7C828A;
        }
        button{
            color: $logo;
            @include border(0.1rem solid $logo,3.2rem);
            @include space(1.5rem 2.4rem,0);
            font-size: $font-size-14;
            font-weight: $font-weight-bold;
            color: $logo;
            background-color: $white;
            letter-spacing: 0.08rem;
        }
      }
    }
  }
}
