<main class="main">
  <section class="landing">
    <aside class="get-start">
      <h1 class="landing-head">Revolution Starts Here</h1>
      <p class="landing-content">Revo helps you get your dream faster</p>
      <button class="started">Get Started</button>
    </aside>
  </section>
</main>

<span class="bottom">
  <aside class="type">
    <ul class="prop-type">
      <li class="listing"><a href="#">BUY</a></li>
      <li class="listing"><a href="#">RENT</a></li>
      <li class="listing"><a href="#">COMMERCIAL</a></li>
      <li class="listing"><a href="#">PG/CO-LIVING</a></li>
      <li class="listing bdr"><a href="#">PLOTS</a></li>
    </ul>
  </aside>
  <aside class="search-prop">
    <ul class="search-section">
      <li class="locate">
        <span class="material-icons-round"> my_location </span>
      </li>
      <li class="choose">
        <select name="" id="">
          <option value="">Choose locality</option>
        </select>
      </li>
      <li class="search-input">
        <form class="search">
          <input
            type="search"
            placeholder="Search for locality,landmark,project or builders"
          />
        </form>
      </li>
      <li class="search-btn">
        <button class="search">Search</button>
      </li>
    </ul>
  </aside>
</span>
