@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/typography";

.main {
  .landing {
    background-color: $getstarted;
    height: 33vw;
    @include d-flex(center, center);
    flex-direction: column;
    position: relative;
    .get-start {
      @include flex-fd-column;
      align-items: center;
      gap: 1.5rem;
      .landing-head {
        font-size: $font-size-45;
        color: $white;
        margin: 0;
      }
      .landing-content {
        font-size: $font-size-14;
        color: $white;
      }
      .started {
        background-color: $white;
        @include space(1.5rem 4rem, 0);
        @include border-none;
        border-radius: 8rem;
        font-size: $font-size-16;
      }
    }
    .bottom {
      @include d-flex(center, center);
      flex-direction: column;
      position: absolute;
      bottom: -3rem;
      .type {
        background-color: $black;
        border-radius: 1rem 1rem 0.4rem 0.4rem;
        .prop-type {
          display: flex;
          list-style-type: none;
          padding: 0.2rem 5rem 0.5rem;
          .listing {
            border-right: 0.1rem solid $white;
            a {
              text-decoration: none;
              padding: 1rem 3rem;
              font-size: $font-size-14;
              color: $white;
            }
          }
          .bdr {
            border: none;
          }
        }
      }
      .search-prop {
        background-color: $white;
        @include measure(89rem, null);
        border-radius: 7rem;
        color: $list;
        box-shadow: 0.6rem 0.9rem 1.9rem $shadow;
        .search-section {
          @include d-flex(space-evenly, center);
        }
        li {
          list-style-type: none;
        }
        .locate{
          cursor: pointer;
        }
        .choose {
          padding-right: 3rem;
          border-right: 0.1rem solid $searchbrdr;
          height: 3rem;
          @include flex-v-center;
          select {
            border: none;
            outline: none;
            font-size: $font-size-14;
            color: $list;
            padding-right: 1rem;
          }
        }
        .search-input {
          .search {
            input {
              @include measure(45rem, 5rem);
              @include space(0 1rem 0 3rem, 0);
              border: none;
              outline: none;
              transition: 0.3s ease;
            }
            input::placeholder {
              font-size: $font-size-14;
              font-weight: $font-weight-regular;
            }
          }
        }
        .search-btn {
          .search {
            @include border(0.1rem solid $logo,3.2rem);
            @include space(1.7rem 5rem,0);
            font-size: $font-size-18;
            color: $logo;
            background-color: $white;
          }
        }
      }
    }
  }
  .recent {
    @include d-flex-h-center(center);
    padding: 4rem 2rem 0;
    background-color: #f8f9fb;

    .recent-lists {
      @include flex-v-center;
      list-style-type: none;
      color: $list;
      .popular {
        @include flex-v-center;
        @include space(0,0 2rem 0 0);
        font-size: $font-size-13;
        gap: 1rem;
        span{
          font-size: $font-size-19;
        }
      }
      .searches{
        font-size: $font-size-12;
        button{
          @include space(0.8rem 1.5rem,0 1rem);
          color: $list;
          border-radius: 5rem;
          border: none;
        }
      }
    }
  }
}
