
$logo:#E05206;
$revologohome:#6C6F70;
$list:#6C6F70;
$getstarted:#25b1c0;
$white:#fff;
$black:#262626;
$shadow:#00000029;
$recentbtn:#F1F1F1;
$searchbrdr:#707070;
$cardsbg:#f8f9fb;
$cardbrdr:#f1f1f1;
$circle:#5d47dc26;
$circleicon:#5d47dc7b;
$text1:#000000ca;
$typeclr:#00a5b5;
$buildclr:#F8F9FB;
$footerblack:#262626;

/* */