@import "../base/colors.scss";
@import "../base/variables.scss";
@import "../base/mixins.scss";
@import "../base/typography";
@import "../base/fonts";

.d-flex{
    display: flex;
}
.align-item{
    align-items: center;
}
ul{
    padding: 0;
    margin: 0;
}