<main class="listings">
  <section class="properties">
    <span class="container">
      <aside class="prop-head">
        <h1>Handpicked Residential Projects</h1>
        <p>Featured Residential projects across world</p>
      </aside>
      <aside class="lists">
        <span class="cards">
          <span class="card">
            <span class="type">
              <p>Rent</p>
            </span>
            <span class="image">
              <img src="../../assets/images/Rentbuilding.jpg" alt="" />
            </span>
            <span class="card-content">
              <h1>Hill Top View Residentials</h1>
              <p>2 BHK Apartments, sector - 16, USA</p>
              <h2>$ 1,000</h2>
            </span>
            <span class="card-icon">
              <span class="material-icons-round"> apartment </span>
            </span>
          </span>
          <span class="card">
            <span class="type">
              <p>Rent</p>
            </span>
            <span class="image">
              <img src="../../assets/images/Rentbuilding.jpg" alt="" />
            </span>
            <span class="card-content">
              <h1>Hill Top View Residentials</h1>
              <p>2 BHK Apartments, sector - 16, USA</p>
              <h2>$ 1,000</h2>
            </span>
            <span class="card-icon">
              <span class="material-icons-round"> apartment </span>
            </span>
          </span>
          <span class="card">
            <span class="type">
              <p>Rent</p>
            </span>
            <span class="image">
              <img src="../../assets/images/Rentbuilding.jpg" alt="" />
            </span>
            <span class="card-content">
              <h1>Hill Top View Residentials</h1>
              <p>2 BHK Apartments, sector - 16, USA</p>
              <h2>$ 1,000</h2>
            </span>
            <span class="card-icon">
              <span class="material-icons-round"> apartment </span>
            </span>
          </span>
        </span>
      </aside>
    </span>
  </section>

  <section class="builders">
    <span class="container">
      <aside class="builder-head">
        <h1>Builders</h1>
      </aside>
      <aside class="companies">
        <span class="cards">
          <span class="card">
            <aside class="image">
              <img src="../../assets/images/AD.jpg" alt="" />
            </aside>
            <aside class="card-content">
              <h2>AD Construction</h2>
              <p>86+ items</p>
            </aside>
            <aside class="icon-more">
              <span class="material-icons-round"> arrow_forward_ios </span>
            </aside>
          </span>
          <span class="card">
            <aside class="image">
              <img src="../../assets/images/ABC.jpg" alt="" />
            </aside>
            <aside class="card-content">
              <h2>ABC Builders</h2>
              <p>90+ items</p>
            </aside>
            <aside class="icon-more">
              <span class="material-icons-round"> arrow_forward_ios </span>
            </aside>
          </span>
          <span class="card">
            <aside class="image">
              <img src="../../assets/images/GK.jpg" alt="" />
            </aside>
            <aside class="card-content">
              <h2>GK Builders</h2>
              <p>85+ items</p>
            </aside>
            <aside class="icon-more">
              <span class="material-icons-round"> arrow_forward_ios </span>
            </aside>
          </span>
          <span class="card">
            <aside class="image">
              <img src="../../assets/images/A GROUP.jpg" alt="" />
            </aside>
            <aside class="card-content">
              <h2>A Group Construction</h2>
              <p>130+ items</p>
            </aside>
            <aside class="icon-more">
              <span class="material-icons-round"> arrow_forward_ios </span>
            </aside>
          </span>
          <span class="card">
            <aside class="image">
              <img src="../../assets/images/ZG.jpg" alt="" />
            </aside>
            <aside class="card-content">
              <h1>ZG Groups</h1>
              <p>125+ items</p>
            </aside>
            <aside class="icon-more">
              <span class="material-icons-round"> arrow_forward_ios </span>
            </aside>
          </span>
        </span>
      </aside>
    </span>
  </section>
</main>
