@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/typography";

.listings {
  .properties {
    background-color: #00a6b516;
    height: 60rem;
    .container {
      @include d-flex(center, center);
      flex-direction: column;
      padding-top: 5rem;
      .prop-head {
        width: 115rem;
        @include flex-fd-column;
        align-items: flex-start;
        h1 {
          font-size: $font-size-22;
        }
        p {
          font-size: $font-size-18;
          color: $list;
        }
      }
      .lists {
        .cards {
          @include d-flex(center, center);
          gap: 3rem;
          .card {
            position: relative;
            .type {
              background-color: $typeclr;
              @include measure(4.5rem, 2.3rem);
              border-radius: 0 0 0.6rem 0;
              position: absolute;
              bottom: 22rem;
              @include d-flex(center, center);
              p {
                font-size: $font-size-12;
                color: $white;
                font-weight: $font-weight-regular;
              }
            }
            .image {
              img {
                border-radius: 0.5rem;
                @include measure(36.5rem, 27rem);
              }
            }
            .card-content {
              position: absolute;
              bottom: -10.5rem;
              right: 0;
              @include measure(30rem, 13rem);
              padding-left: 2.5rem;
              padding-top: 4rem;
              @include flex-fd-column;
              align-items: flex-start;
              border-radius: 15px 0px 0px 15px;
              box-shadow: -8px -6px 19px #00000029;
              background-color: $white;
              h1 {
                font-size: $font-size-16;
              }
              p {
                font-size: $font-size-14;
              }
              h2 {
                font-size: $font-size-18;
              }
            }
            .card-icon {
              position: absolute;
              bottom: 3.5rem;
              right: 22rem;
              @include measure(7.9rem, 7.9rem);
              box-shadow: 0px 3px 20px 0 rgb(0, 0, 0, 0.159);
              border-radius: 50%;
              background-color: $white;
              @include d-flex(center, center);
              .material-icons-round {
                font-size: $font-size-35;
                color: rgba(9, 9, 93, 0.79);
              }
            }
          }
        }
      }
    }
  }

  .builders {
    background-color: $buildclr;
    .container {
      @include d-flex(center, center);
      flex-direction: column;
      gap: 4rem;
      height: 50rem;
      .builder-head {
        display: flex;
        align-items: flex-start;
        width: 120rem;
        h1 {
          font-size: $font-size-23;
          color: #000000ab;
        }
      }
      .companies {
        .cards {
          @include d-flex-h-center(center);
          gap: 3rem;
          .card {
            background-color: $white;
            @include d-flex(space-evenly, center);
            flex-direction: column;
            box-shadow: 4px 3px 16px #2828281c;
            border-radius: 12px;
            @include measure(22rem, 25rem);
            position: relative;
            .image {
              img {
                @include measure(13rem, 11rem);
              }
            }
            .card-content {
              text-align: center;
              h2 {
                font-size: $font-size-16;
              }
              p {
                font-size: $font-size-14;
                color: rgba(0, 0, 0, 0.458);
              }
            }
            .icon-more {
              position: absolute;
              bottom: -2.5rem;
              box-shadow: 0px 3px 9px #00000021;
              @include measure(4.8rem, 4.8rem);
              border-radius: 50%;
              @include d-flex(center, center);
              background-color: #00a5b5;
              color: $white;
              span {
                font-size: $font-size-28;
              }
            }
          }
        }
      }
    }
  }
}
